.learnmore-sec .title {
	text-align: center;
}
.learnmore-sec h1 {
	margin-bottom: 10px;
	color: var(--black);
	font-size: 36px;
}
.learnmore-sec .container > p {
	color: var(--lightWhite);
	margin-bottom: 60px;
	text-align: center;
}
.learnmore-sec .learn-row {
	display: flex;
	justify-content: space-between;
	gap: 145px;
	margin-top: 64px;
}
.learn-row .left {
	flex: 1 1;
}
.learn-row p {
	line-height: 1.5;
	margin-top: 24px;
}
