* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}
:root {
	--purple: #1f0231;
	--white: #ffffff;
	--lightPurple: #eee8f2;
	--black: #0c0114;
	--lightWhite: #bababa;
	--veryLightWhite: #d8cde0;
	--yellow: #fa9706;
	--darkPurple: #0c0114;
}
.App {
	overflow-x: hidden;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 80px;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}
.award-underline {
	position: absolute;
	background-color: var(--yellow);
	width: 88px;
	height: 4px;
	/* top: 0; */
	border-radius: 6px;
}
.yellow {
	color: var(--yellow);
}
